.git
.gitignore
.github
.idea
.vscode
.settings
.mvn/wrapper/maven-wrapper.jar
target
build
*.log
backend_error.log
HELP.md
README.md
frontend
infrastructure
deploy
buildspec-backend.yml
buildspec-frontend.yml
Dockerfile
.dockerignore
